* {
    box-sizing: border-box;
    margin: auto;
    padding: 0%;
    font-family: monospace;
    font-weight: bold;
}



body {

    background-image: url(assets/bg2.jpg);
    background-repeat: repeat;
    width: 95%;
    margin-top: 1rem;


}

:root {

    --brn: brown;
    --red: red;
    --black: black;
}

h1 {
    animation: pulsate 2.5s infinite alternate;
}

@keyframes pulsate {
    100% {
        /* Larger blur radius */
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px rgb(128, 0, 255),
            0 0 80px rgb(128, 0, 255),
            0 0 90px rgb(128, 0, 255),
            0 0 100px rgb(128, 0, 255),
            0 0 150px rgb(128, 0, 255);
    }

    20% {
        /* Smaller blur radius */
        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px rgb(128, 0, 255),
            0 0 45px rgb(128, 0, 255),
            0 0 55px rgb(128, 0, 255),
            0 0 70px rgb(128, 0, 255),
            0 0 80px rgb(128, 0, 255),
    }
}

h1 {
    text-align: center;
    color: white;
    font-size: 8rem;
}



h2 {

    text-align: center;

}

nav ul {
    display: flex;
    margin-top: 1rem;
    width: 100%;
}

nav ul li {
    display: block;
    text-align: center;
    width: 100%;
    justify-content: space-evenly;
}

iframe {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    width: 90%;
    height: 166%;
}

table tr td {
    border: 1px solid black;
}

section {
    margin: 1rem;

}

section article {
    display: flex;
    align-items: center;
    margin: 1rem;
}

img {
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    object-fit: cover;
}

.food {
    width: 100%;
    height: 100%;
}

.tv {
    width: 96%;
    height: 100%;
}

.live {
    width: 96%;
    height: 100%;
}

.larp {
    width: 96%;
    height: 100%;
}

.dd {
    width: 96%;
    height: 100%;
}

.vtm {
    width: 80%;
    height: 100%;
}

.drop {
    background: #ff00007b;
    border-radius: 10px;
    box-shadow: -10px 15px 5px #300000c4, -40px 30px 32px #3b00009d, inset -6px 6px 10px #e20000c8,
        inset 2px 6px 10px #e10000eb, inset 20px -20px 22px rgb(255, 0, 0), inset 40px -40px 44px #76000087;

}

footer ul li img {
    border: 2px solid black;
    width: 3rem;
    height: 3rem;
}

footer ul {
    display: flex;

    width: 100%;
}