* {
    box-sizing: border-box;
    
    
    margin: auto;
    padding: 0%;
}
body{
    background-color: var(--brn);
    width: 95%;
}

:root {

    --brn: brown;
    --red: red;
    --black: black;
}

header  h1{
    text-align: center;
    background: var(--red);
}

nav ul li{
    border: 2px solid black;
    display: inline;
    justify-content: center;
    background: var(--red);
}

table tr td{
    border: 1px solid black;
}

section {
    background-color: var(--red);
    margin: 1rem;
    border: 2px solid black;
}


img {
    width: 5rem;
    height: 5rem;
}


  

footer ul li{
    display: block;
    display: inline;
    background: var(--red);
    border: 2px solid black;
}