* {
    box-sizing: border-box;
    background: var(--brn);
    width: 95%;
    margin: auto;
    padding: 0%;
}

:root {

    --brn: brown;
    --red: red;
    --black: black;
}

header  h1{
    text-align: center;
    background: var(--red);
}

li {
    border: 2px solid black;
    display: inline;
    justify-content: center;
    

}


section h2 article p img{
    background-color: var(--red);
    margin: 1rem;
    border: 2px solid black;
}


img {
    width: 5rem;
    height: 5rem;
}

footer ul li {
    display: block;
    display: inline;
    margin: auto;
    background: var(--red);
    border: 2px solid black;
}